<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="#">Ankh-Morpork Assassins' Guild</a></h1>
				<p>Nil Mortifi Sine Lucre<a href="http://www.freecsstemplates.org/"></a></p>
			</div>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li><a href="index.php">Homepage</a></li>
			<li><a href="login.php">Log&nbsp;&nbsp;In</a></li>
			<li><a href="about.php">About</a></li>
			<li class="current_page_item"><a href="#">Hire&nbsp;&nbsp;Us</a></li>
		</ul>
	</div>
	<!-- end #menu -->
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
					<div class="post">
						<h2 class="title"><a href="#">Hire the services of the Guild</a>						</h2>
						<div class="entry">
                        <p>If you wish to retain the services of the Assassins' Guild, fill out the below form with your name (to be held in strictest confidence, of course), the name of the client you wish inhumed, the price (in $AM) you are offering, and any special instructions you wish the assigned guildmember to observe (checking breathing, particular methods to be used, etc...).                       </p>
					   </div>
				  </div>
					<div class="post">
						<h2 class="title"><a href="#">Please enter your contract information</a>						</h2>
						<div class="entry">
						  <%= form_tag do%>
                          <table width="100%" border="1" cellspacing="0" cellpadding="0">
                              <tr>
                                <td>Your name:</td>
                                <td><%= text_field_tag("requester",@contract.requestedBy) %></td>
                              </tr>
                              <tr>
                                <td>Name of client:</td>
                                <td><%= text_field_tag("client",@contract.client) %></td>
                              </tr>
                              <tr>
                                <td>Price:</td>
                                <td><%= text_field_tag("price",@contract.price) %></td>
                              </tr>
                              <tr>
                                <td>Special Instructions::</td>
                                <td><%= text_field_tag("special",@contract.instructions) %></td>
                              </tr>
                            </table>
                              <!--<?php
							  	require_once('recaptchalib.php');
								$publickey = '6Lf1s88SAAAAAMlnIJd49qTm5kYB4qWdZYQIqkiF';
								echo recaptcha_get_html($publickey)
							  ?>-->
                            <%= submit_tag("Submit") %>
                            <input type="reset" value="Clear" />
                          <%end%>
                            <!--<?php
								if (isset($_POST["client"]) and !isset($captcha_error))
								{
									echo "Thank you for your patronage!";
								}
							?>-->
					   </div>
<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
				  </div>
					<div style="clear: both;">&nbsp;</div>
				</div>

				<!-- end #content -->
				<div id="sidebar">
					<ul>
						<li></li>
						<li> </li>
					</ul>
				</div>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->
</div>