<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="#">Ankh-Morpork Assassins' Guild</a></h1>
				<p>Nil Mortifi Sine Lucre<a href="http://www.freecsstemplates.org/"></a></p>
			</div>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li><a href="index.php">Homepage</a></li>
			<li><a href="index.php?logout=true">Log&nbsp;&nbsp;Out</a></li>
			<li class="current_page_item"><a href="usercontracts.php">My&nbsp;&nbsp;Contracts</a></li>
                        <%if current_user.admin%>
                          <li>
                          <a href="managecontracts.php">Manage&nbsp;&nbsp;Contracts</a>
                          </li>
                        <%end%>
     <!--       <?php
				if ($_SESSION["level"] > 9000)
				{
					echo "<li><a href=\"managecontracts.php\">Manage&nbsp;&nbsp;Contracts</a></li>";
				}
			?>-->
		</ul>
	</div>
	<!-- end #menu -->
	<div id="page">
		<div id="page-bgtop">
		  <div id="page-bgbtm">
				<div id="content">
					<div class="post">
						<h2 class="title"><a href="#">My Current Contracts</a></h2>
						<div class="entry">
<% if not @current %>
<p>You have no open contracts.</p>
<%else %>
<%= form_tag do%>
<table border="1"><tr><td>Client</td><td>Value</td><td>Requested By</td><td>Special Instructions</td><td>Complete</td><td>Cancel</td></tr>
<% @current.each do |contract| %>


                            <tr>
                              <td><%=contract.client%></td>
<td><%=number_to_currency(contract.price, :unit => "$")%></td>
<td><%=contract.requestedBy%></td>
<td><%=contract.instructions%></td>
<td> <%= check_box_tag("completed[]",value=contract.id) %></td>
<td> <%= check_box_tag("cancel[]",value=contract.id) %></td>
                            </tr>


                          <%end%>
<tr><td><input type=submit value="Update"></td></tr></table>  
<%end%>
<%end%>
							<!--<?php
								$results = my_contracts($_SESSION["user"]);
								if (count($results) == 0)
								{
									echo "<p>You have no open contracts.</p>";
								}
								else
								{
									echo "<form action=\"usercontracts.php\" method=\"POST\">";
									echo "<table border=\"1\"><tr><td>Client</td><td>Value</td><td>Requested By</td><td>Special Instructions</td><td>Complete</td><td>Cancel</td></tr>";
									foreach ($results as $entry)
									{
										$client = $entry["Client"];
										$value = $entry["Price"];
										$requestor = $entry["Requested By"];
										$instructions = $entry["Special Instructions"];
										echo "<tr><td>$client</td><td>AM\$$value</td>
<td>$requestor</td>
<td>$instructions</td>
<td><input type=\"checkbox\" value=\"$client\" name=\"completed[]\" /></td>
<td><input type=\"checkbox\" value=\"$client\" name=\"cancel[]\" /></td></tr>";
									}
									echo '<tr><td><input type=submit value="Update"></td></tr></table>';
									echo "</form>";
								}
							?>-->
						</div>
					</div>
					<div class="post">
						<h2 class="title"><a href="#">My Pending Contracts</a></h2>
						<div class="entry">

<% if not @pending %>
<p>You have no pending contracts.</p>
<%else %>
<%= form_tag do%>
<table border="1"><tr><td>Client</td><td>Value</td><td>Requested By</td><td>Special Instructions</td><td>Cancel Application</td></tr>
<% @pending.each do |contract| %>


                            <tr>
                              <td><%=contract.client%></td>
<td><%=number_to_currency(contract.price, :unit => "$")%></td>
<td><%=contract.requestedBy%></td>
<td><%=contract.instructions%></td>
<td> <%= check_box_tag("cancel[]",value=contract.id) %></td>
                            </tr>


                          <%end%>
<tr><td><input type=submit value="Update"></td></tr></table>  
<%end%>
<%end%>
							<!--<?php
								$results = pending_contracts($_SESSION["user"]);
								if (count($results) == 0)
								{
									echo "<p>You have no pending contracts.</p>";
								}
								else
								{
									echo "<form action=\"usercontracts.php\" method=\"POST\">";
									echo "<table border=\"1\"><tr><td>Client</td><td>Value</td><td>Requested By</td><td>Special Instructions</td><td>Cancel Application</td></tr>";
									foreach ($results as $entry)
									{
										$client = $entry["Client"];
										$value = $entry["Price"];
										$requestor = $entry["Requested By"];
										$instructions = $entry["Special Instructions"];
										echo "<tr><td>$client</td>
<td>AM\$$value</td>
<td>$requestor</td><td>$instructions</td><td><input type=\"checkbox\" value=\"$client\" name=\"cancel[]\" /></td></tr>";
									}
									echo '<tr><td><input type=submit value="Update"></td></tr></table>';
									echo "</form>";
								}
							?>-->
						</div>
					</div>
					<div class="post">
					  <h2 class="title"><a href="#">Available Contracts</a></h2>
						<div class="entry">
<% if not @available %>
<p>There are no available contracts at this time. Please check back later.</p>
<%else %>
<%= form_tag do%>
<table border="1"><tr><td>Client</td><td>Value</td><td>Requested By</td><td>Special Instructions</td><td>Apply</td></tr>
<% @available.each do |contract| %>


                            <tr>
                              <td><%=contract.client%></td>
<td><%=number_to_currency(contract.price, :unit => "$")%></td>
<td><%=contract.requestedBy%></td>
<td><%=contract.instructions%></td>
<td> <%= check_box_tag("apply[]",value=contract.id) %></td>
                            </tr>


                          <%end%>
<tr><td><input type=submit value="Apply For Contract(s)"></td></tr></table>  
<%end%>
<%end%>


                        <!--<?php
								$results = available_contracts();
								if (count($results) == 0)
								{
									echo "<p>There are no available contracts at this time. Please check back later.</p>";
								}
								else
								{
									echo "<form action=\"usercontracts.php\" method=\"POST\">";
									echo "<table border=\"1\"><tr><td>Client</td><td>Value</td><td>Requested By</td><td>Special Instructions</td><td>Apply</td></tr>";
									foreach ($results as $entry)
									{
										$client = $entry["Client"];
										$value = $entry["Price"];
										$requestor = $entry["Requested By"];
										$instructions = $entry["Special Instructions"];
										echo "<tr><td>$client</td><td>AM\$$value</td><td>$requestor</td><td>$instructions</td><td><input type=\"checkbox\" value=\"$client\" name=\"apply[]\" /></td></tr>";
									}
									echo '<tr><td><input type=submit value="Apply For Contract(s)"></td></tr></table>';
									echo "</form>";
								}
						?>-->
						</div>
					</div>
				</div>
				<!-- end #content -->
				<div id="sidebar">
				</div>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->
</div>
